body::-webkit-scrollbar-thumb {
    background-color: #ec8f42;
    border: 5px solid rgb(60, 138, 190);
}

body::-webkit-scrollbar-track {
    background-color: rgb(60, 138, 190);
}

body::-webkit-scrollbar {
    background-color: rgb(60, 138, 190);
}