.main {
    width: 100%;
    height: 2900px;
    background-color: rgb(60, 138, 190);
}

.projects {
    width: 100%;
    height: 100%;
    /* background-color: gray; */
    margin-top: 20px;

    display: block;
}

.project {
    width: 90%;
    height: 24%;
    /* background-color: rgb(70, 70, 70); */
    border: 4px solid #ffffff;
    margin-top: 50px;
    margin-left: 100px;

    /* clip-path: polygon(0% 100%, 50% 100%, 100% 0%, 0% 0%); */
    /* clip-path: polygon(
        13% 0%,
        100% 0%,
        100% 100%,
        0% 100%,
        0% 30%
    ); */

    display: inline-block;
}

.project h1 {
    width: 100%;
}

.projectInfo {
    width: 100%;
    height: 97%;
    /* background-color: lightpink; */
    margin-top: 15px;

    display: flex;
    justify-content: right;
}

.projectImage {
    width: 40%;
    height: 80%;
    margin-left: 50px;
    /* background-color: gray; */
    border: 4px solid #ec8f42;
}

.projectImage img {
    width: 100%;
    height: 100%;
}

.projectImage img:hover {
    transform: scale(1.05);
}

.projectDescription {
    width: 60%;
    height: 80%;
    margin: 0px 50px;
    /* background-color: lightblue; */
    border: 4px solid #ec8f42;
}

.projectDescription ul {
    font-size: 22px;
    font-family: "Oswald", serif;
    letter-spacing: 1px;
    color: white;
}

.projectDetail {
    width: 100%;
    height: 100%;
    /* background-color: grey; */

    display: flex;
    justify-content: left;
}

.projectDetail2 {
    width: 45%;
    height: 100%;
    border: 2px solid white;
    padding: 10px;
}

h3 {
    font-size: 26px;
    font-family: "Oswald", serif;
    letter-spacing: 2px;
    padding-left: 30px;
    color: white;
}

.divider {
    width: 90%;
    height: 10px;
    background-color: #ec8f42;
    margin-top: 50px;
    margin-left: 100px;
}

.divider2 {
    width: 90%;
    height: 4px;
    background-color: #ec8f42;
    margin-top: 50px;
    margin-left: 100px;
}